/* .form-container::after{
    content: "";
    width: 97.5%;
    height: 95.5%;
    position: absolute;
    display: block;
    inset: 10px 10px 10px 10px;
    border-radius: 20px;
    border: 1px solid var(--color-white);
    background-color: transparent;
} */